

.site-heading-logo > img {
    max-width: 70%;
}

.site-heading-text {
    margin-top: 10px !important;
    text-shadow: 2px 0px 12px rgb(61, 61, 61);
}

@media only screen and (min-width: 400px) {
    .site-heading-logo > img {
        max-width: 45%;
    }
} 

@media only screen and (min-width: 600px) {
    .site-heading-logo > img {
        max-width: 35%;
    }
} 

.post-video {
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

